langchain
langchain-community
langchain-core
langchain-Google-GenAI
langchain-Groq

fastapi
uvicorn
pydantic

pypdf 
unstructured
langchain-text-splitters
langchain-huggingface
faiss-cpu
sentence-transformers

python-dotenv
psycopg2-binary

streamlit
requests
